*{
    padding: 0;
    margin: 0;
}
body{
background-color: hsl(212, 45%, 89%);
text-align: center;
display: grid;
place-items: center;
justify-content: center;
min-height: 100vh;
}
.text{
    text-align: center;
}
.c{
    height: 500px;
    width: 315px;
    background-color: white;
    border-radius: 20px;
}
img{    
    border-radius: 10px;
    width: 285px;
    height: 290px;
    margin-top: 16px;
}
.text{
text-align: center;
display: grid;
place-items: center;
justify-content: center;
}
h1{
    padding: 16px 15px;
    font-weight: 700;
    font-family: "Outfit";
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}
p{
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit";
    color: hsl(216, 15%, 48%);
    width: 265px;
    margin-top: -1px;
}
/*    width: 258.8px;*/